{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissable">
                 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}

      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger alert-dismissable">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success alert-dismissable">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{msg}}</div>
{% endif %}

{% if blue %}
  <div class="alert alert-primary alert-dismissable">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{blue}}</div>
{% endif %}

{% if grey %}
  <div class="alert alert-secondary alert-dismissable">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{grey}}</div>
{% endif %}

{% if yellow %}
  <div class="alert alert-warning alert-dismissable">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{yellow}}</div>
{% endif %}

{% if lightblue %}
  <div class="alert alert-info  alert-dismissable">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{lightblue}}</div>
{% endif %}

{% if dark %}
  <div class="alert alert-dark alert-dismissable">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{dark}}</div>
{% endif %}
