{% extends 'layout.html' %}

{% block body %}

    {% from "includes/_formhelper.html" import render_field %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/Teacher.css') }}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <h1>Add an assignment</h1>

    <p>Course/Module</p>

    <div id="cmdropdown">
        <form method="post">
            {{ render_field(form.Selection, class="form-control") }}
        </form>
        <button onclick="choosedate()">Next</button>
    </div>

    <div id="ccheckbox">
        <form method="get">
            {{ render_field(form2.Choice, class="form-control") }}
        </form>
        <button onclick="chooseclass()">Next</button>
    </div>

    <div id="date">
        <p>Due date (Double click for only one day):</p>
        <input id="dates" type="text" method="get" name="daterange" value="01/01/2018 - 01/15/2018" />
        <script>
            $(function() {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'left'
                }, function(start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
            });
        </script>
        <button onclick="store()">Confirm</button>
        <button>Cancel</button>
    </div>

    <script>
        function choosedate() {
            document.getElementById('date').style.display = "block";
        }

        function chooseclass() {
            document.getElementById('ccheckbox').style.display = "block";
        }

        function store(){
            var assignmentList=[];
            assignmentList.push('dates');
            alert('You have uploaded the assignment.');
        }
    </script>

{% endblock %}