{%  extends 'layout.html' %}

{%  block body %}

    {%  from "includes/_formhelper.html" import render_field %}
    <h1 id="title">Submissions</h1>

    <div id="attachment">
        <p>Select files to submit.</p>
    </div>

    <form method="POST" action="/assignments_student" enctype = "multipart/form-data">
        <div style="size: 100px;">
            <input type="file" name="file">
        </div>

        <div>
            <input type="submit" value="Submit" class="btn btn-info"/>
        </div>
    </form>

{% endblock %}