{% extends 'layout.html' %}

{% block body %}
    <link rel='stylesheet' href="{{ url_for('static', filename='css/calender.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/slideshow.css') }}">
<div class="jumbotron">
  <h1 class="display-3">Welcome To EduCite</h1>
  <p class="lead">This website can be most preferred by the students as it was founded by Harvard University and MIT in 2012. Educite is an online learning destination and MOOC provider, offering high-quality courses from the world's best universities and institutions to learners everywhere. Out of the 90 universities, it includes top global rankers. </p>
  <hr class="my-4">
  <p>Want to know more about our website?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.nyp.edu.sg/" role="button">Learn more</a>
      <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="img1.jpg" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="img2.jpg" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="img3.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
    <script>
        var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
} 
    </script>
  </p>

</div>

<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Well done!</strong> You successfully submit <a href="#" class="alert-link">Your OOPP Project!</a>.
</div>
<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col"><a href = "/viewbookings">View Appointments</a>
<br><br>
            <table>
                <tr>
                    <td>
                         <strong>Your booking appointment is successful.
<br>
                             Monday 20 Jan 2019 Room 456 Lecturer: Mr Lee Chit Boon</strong>
                    </td>
                      <td>
                         <strong>Your booking appointment is successful.
<br>
                             Monday 20 Jan 2019 Room 456 Lecturer: Mr Lee Chit Boon</strong>
                    </td>
                </tr>
                <tr>
                      <td>
                         <strong>Your booking appointment is successful.
<br>
                             Monday 20 Jan 2019 Room 456 Lecturer: Mr Lee Chit Boon</strong>
                    </td>
                      <td>
                         <strong>Your booking appointment is successful.
<br>
                             Monday 20 Jan 2019 Room 456 Lecturer: Mr Lee Chit Boon</strong>
                    </td>
                </tr>
            </table>


        </th>
        <th scope="col">><a href = "/viewplans">Study Plan</a></th>



      <th scope="col"><div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>Dec<br><span style="font-size:18px">2019</span></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li><span class="active">10</span></li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
</ul></th>

</table>


{% endblock %}
