{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <link rel="stylesheet" href="/static/css/locker.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/templates/checkAvailabilityjs.js"></script>
    <script>

        var SITlockers = ['L01', 'L02', 'L03', 'L04'],
            SBMlockers = ['B01', 'B02', 'B03', 'B04'],
            SCLlockers = ['N01', 'N02', 'N03', 'N04'],
            sit = "SIT",
            sbm = "SBM",
            scl = "SCL";

        {#$( function() {#}
        {#    $( "#datepicker" ).datepicker({#}
        {#        dateFormat: 'yy-mm-dd'#}
        {#    });#}



        $(document).ready(function(){
            $('#locationChange').change(function(){
                var locationValue = $(this).val();
                if (locationValue === sit){
                    var addOptions = document.getElementById('addOptions');
                    var optionsLength = addOptions.options.length;
                    var j;
                    for (j = optionsLength - 1; j >= 0; j--) {
                        addOptions.remove(j);
                    }
                    var i;
                    for (i = 0; i < SITlockers.length; i++){
                        var opt = document.createElement('option');
                        opt.value = SITlockers[i];
                        opt.innerHTML = SITlockers[i];
                        addOptions.appendChild(opt);
                    }
                }

                else if (locationValue === sbm) {
                    var addOptions = document.getElementById('addOptions');
                    var optionsLength = addOptions.options.length;
                    var j;
                    for (j = optionsLength - 1; j >= 0; j--) {
                        addOptions.remove(j);
                    }
                    var i;
                    for (i = 0; i < SBMlockers.length; i++){
                        var opt = document.createElement('option');
                        opt.value = SBMlockers[i];
                        opt.innerHTML = SBMlockers[i];
                        addOptions.appendChild(opt);
                    }
                }

                else if (locationValue === scl) {
                    var addOptions = document.getElementById('addOptions');
                    var optionsLength = addOptions.options.length;
                    var j;
                    for (j = optionsLength - 1; j >= 0; j--) {
                        addOptions.remove(j);
                    }
                    var i;
                    for (i = 0; i < SCLlockers.length; i++){
                        var opt = document.createElement('option');
                        opt.value = SCLlockers[i];
                        opt.innerHTML = SCLlockers[i];
                        addOptions.appendChild(opt);
                    }
                    {#var sclimg = document.createElement("img");#}
                    {#elem.src = "static/images/lockerblkl.jpg";#}
                    {#document.getElementById("lockerpicture").appendChild(sclimg);#}
                };

                {#locationValue = lockerblkl.jpg;#}
                {#$('#lockerPicture').html(locationValue);#}

            });
        });




        var smallsit = ['L01', 'L02'],
            mediumsit = ['L03'],
            bigsit = ['L04'],
            smallsbm = ['B01', 'B02'],
            mediumsbm = ['B03'],
            bigsbm = ['B04'],
            smallscl = ['N01', 'N02'],
            mediumscl = ['N03'],
            bigscl = ['N04'],
            small = "small",
            medium = "medium",
            big = "big";

        $(document).ready(function(){
            $('#sizeChange').change(function(){
                var locationValueId = document.getElementById("locationChange"),
                locationValue = locationValueId.options[locationValueId.selectedIndex].value,
                sizeValue = $(this).val();
                if (sizeValue === small){
                    var addOptions = document.getElementById('addOptions');
                    var optionsLength = addOptions.options.length;
                    var j;
                    for (j = optionsLength - 1; j >= 0; j--) {
                        addOptions.remove(j);
                    }
                    if (locationValue === sit){
                        var i;
                        for (i = 0; i < smallsit.length; i++){
                        var opt = document.createElement('option');
                        opt.value = smallsit[i];
                        opt.innerHTML = smallsit[i];
                        addOptions.appendChild(opt);
                        }
                    } else if (locationValue === sbm) {
                        var i;
                        for (i = 0; i < smallsbm.length; i++) {
                            var opt = document.createElement('option');
                            opt.value = smallsbm[i];
                            opt.innerHTML = smallsbm[i];
                            addOptions.appendChild(opt);
                        }
                    } else if (locationValue === scl){
                        var i;
                        for (i = 0; i < smallscl.length; i++) {
                            var opt = document.createElement('option');
                            opt.value = smallscl[i];
                            opt.innerHTML = smallscl[i];
                            addOptions.appendChild(opt);
                        }
                    }
                }

                else if (sizeValue === medium) {
                    var addOptions = document.getElementById('addOptions');
                    var optionsLength = addOptions.options.length;
                    var j;
                    for (j = optionsLength - 1; j >= 0; j--) {
                        addOptions.remove(j);
                    }
                    if (locationValue === sit){
                        var i;
                        for (i = 0; i < mediumsit.length; i++){
                        var opt = document.createElement('option');
                        opt.value = mediumsit[i];
                        opt.innerHTML = mediumsit[i];
                        addOptions.appendChild(opt);
                        }
                    } else if (locationValue === sbm) {
                        var i;
                        for (i = 0; i < mediumsbm.length; i++) {
                            var opt = document.createElement('option');
                            opt.value = mediumsbm[i];
                            opt.innerHTML = mediumsbm[i];
                            addOptions.appendChild(opt);
                        }
                    } else if (locationValue === scl){
                        var i;
                        for (i = 0; i < mediumscl.length; i++) {
                            var opt = document.createElement('option');
                            opt.value = mediumscl[i];
                            opt.innerHTML = mediumscl[i];
                            addOptions.appendChild(opt);
                        }
                    }
                    }


                else if (sizeValue === big) {
                    var addOptions = document.getElementById('addOptions');
                    var optionsLength = addOptions.options.length;
                    var j;
                    for (j = optionsLength - 1; j >= 0; j--) {
                        addOptions.remove(j);
                    }
                    if (locationValue === sit){
                        var i;
                        for (i = 0; i < bigsit.length; i++){
                        var opt = document.createElement('option');
                        opt.value = bigsit[i];
                        opt.innerHTML = bigsit[i];
                        addOptions.appendChild(opt);
                        }
                    } else if (locationValue === sbm) {
                        var i;
                        for (i = 0; i < bigsbm.length; i++) {
                            var opt = document.createElement('option');
                            opt.value = bigsbm[i];
                            opt.innerHTML = bigsbm[i];
                            addOptions.appendChild(opt);
                        }
                    } else if (locationValue === scl){
                        var i;
                        for (i = 0; i < bigscl.length; i++) {
                            var opt = document.createElement('option');
                            opt.value = bigscl[i];
                            opt.innerHTML = bigscl[i];
                            addOptions.appendChild(opt);
                        }
                    }
                    }

                {#locationValue = lockerblkl.jpg;#}
                {#$('#lockerPicture').html(locationValue);#}

            });
        });
    </script>

{##}
{#<script>#}
{#    function retainform() {#}
{#        document.getElementsByClassName("lockeridadminno").value = adminno;#}
{#        document.getElementsByClassName("lockeriddate").value = date;#}
{#        document.getElementsByClassName("lockeridlocation").value = location;#}
{#        document.getElementsByClassName("lockeridsize").value = size;#}
{#        document.getElementsByClassName("lockeridlockerno").value = lockerno;#}
{#    }#}
{#</script>#}





















<h1 style = "margin-top: 3%; text-align: center; font-size: 60px;">Daily Locker Booking</h1>

<h2 style = "margin-top: 3%; margin-left: 70px">Check Locker Availability</h2>
    <form method="POST" action="http://127.0.0.1:5000/checkAvailability" style="margin-top: 2%; margin-left:70px">
     <div class="form-group">
         <table>
            <tr>
                <th>{{ cform.dateav.label }}</th>
                <div>
                    <td id="hoverdatecheck">{{ cform.dateav }} <span class="ast">*</span>
                        <span class="tooltiptext">Date format is YYYY-MM-DD</span></td>
                 </div>
            </tr>
         </table>
     </div>
    <div class="form-group col-md-1" style="margin-left: 170px">
        <input type="submit" name="checkSubmit" value="Check Availability" class="btn btn-success">
    </div>
    <div>
        <table style="margin-top: 40px">
            <thead>
                <tr>
                    <th>Lockers Available:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul id="myItemList">
                            {% for i in finallist %}
                                <li><a style="color: #4fb1ea;" onclick="updatelockerno(id)" id={{ i }}>{{ i }}</a></li>

                            {% endfor %}
                        </ul>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>

























    <h2 style = "margin-top: 3%; margin-left: 50px">Locker Booking Form</h2>
    <form method="POST" action="http://127.0.0.1:5000/lockers" style="margin-top: 2%; margin-left:70px">
     <div class="form-group">
         <table width="500" height="280">
             <tr>
                 <th class="darkerTh">{{ form.adminno.label }}</th>
                 <td class="lockeridadminno">{{ form.adminno }} <span class="ast">*</span></td>
             </tr>
             <tr>
                 <th>{{ form.date.label }}</th>
                 <div>
                 <td class="lockeriddate" id="hoverdate">{{ form.date }} <span class="ast">*</span>
                     <span class="tooltiptext">Date format is YYYY-MM-DD</span>
                 </div>
             </tr>
             <tr>
                 <th class="darkerTh">{{ form.location.label }}</th>
{#                 change this to javascript#}
                 <td class="targetlocker">
{#                     {{ form.location }} #}
                     <select class="lockeridlocation" id="locationChange" name="locationhtml">
                         <option></option>
                         <option value="SIT">School of Information Technology</option>
                         <option value="SBM">School of Business Management</option>
                         <option value="SCL">School of Chemical and Life Sciences</option>
                     </select>
                 </td>
             </tr>
             <tr>
                 <th>{{ form.size.label }}</th>
                 <td class="targetlocker">
{#                     {{ form.size }}#}
                     <select class="lockeridsize" id="sizeChange" name="sizehtml">
                         <option></option>
                         <option value="small">Small</option>
                         <option value="medium">Medium</option>
                         <option value="big">Big</option>
                     </select>
                 </td>
             </tr>
             <tr>
                 <th class="darkerTh">{{ form.lockerno.label }}</th>
                 <td>
{#                     {{ form.lockerno }} #}
                     <select id="addOptions" name="lockernohtml">

                     </select>
                     <span class="ast">*</span>
                 </td>
             </tr>
             <tr style="font-size: small">
                 <th colspan="2">Fields with <span class="ast">*</span> are mandatory before submitting</th>
             </tr>

         </table>


     </div>
    <div class="form-group col-md-1" style="margin-left: 30px;">
        <input type="submit" value="Submit" name="lockerSubmit" class="btn btn-info"/>
    </div>
    </form>

{#    <div id ="buttoncheck">#}
{#    <button style = "margin-top: 15px; margin-left: 110px" class="btn btn-success" onClick="location.href='/checkAvailability'">Check availability</button>#}
{#    <span class="tooltiptext">Click here to check availability of lockers by date</span>#}
{#    </div>#}
    <h3 style = "margin-top: 50px; margin-left: 70px">Locker Cost:</h3>
    <table style = "margin-left: 100px; margin-bottom: 100px">
    <tr>
        <th>Small</th>
        <td>$2 per day</td>
    </tr>
    <tr>
        <th class="darkerTh">Medium</th>
        <td>$5 per day</td>
    </tr>
    <tr>
        <th>Big</th>
        <td>$10 per day</td>
    </tr>
    </table>
{#    <h4>Pick a locker</h4>#}
{#    <div id="lockerPicture"></div>#}
    <script>
        function updatelockerno(i){
            var onclickopt = document.createElement('option');
            onclickopt.setAttribute("id", "lockeridlockerno");
            var addoptiononclick = document.getElementById("addOptions");
            addoptiononclick.appendChild(onclickopt);
            document.getElementById("lockeridlockerno").value = i;
            document.getElementById("lockeridlockerno").text = i;
        }
    </script>
{% endblock %}



