    {% block header %}
      {% include 'includes/_message.html' %}
        <link rel='stylesheet' href="{{ url_for('static', filename='css/Login.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
{% endblock %}

{% block content %}
     <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
              <br>
              <br>
            <h5 class="card-title text-center">Welcome to Educite</h5>
  <form method="post" action="/" class="form-signin">

      <br>
             <div class="form-label-group">
                <input id="username" class="form-control" name='username' placeholder="Username" required>
                <label for="username">Username</label>
              </div>
      <br>
                   <div class="form-label-group">
                <input id="password" class="form-control" type='password' name='password'placeholder="Password" required>
                <label for="password">Password</label>
              </div>

      <br>
      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
      <a class="d-block text-center mt-2 small" href="register">Register</a>
  </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}