{% extends 'layout.html' %}

{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="../static/css/planner.css" rel="stylesheet">
    <form id="plannerform">
        <input id="plannername" placeholder="Enter Task" type="text" autocomplete="off"/>
        <input id="plannertime" type="time"/>
        <input id="plannersubmit" type="submit" value="Add Task"/>
    </form>

    <ol id="selectable">
        <li class="ui-widget-content">Monday</li>
        <li class="ui-widget-content">Tuesday</li>
        <li class="ui-widget-content">Wednesday</li>
        <li class="ui-widget-content">Thursday</li>
        <li class="ui-widget-content">Friday</li>
        <li class="ui-widget-content">Saturday</li>
        <li class="ui-widget-content">Sunday</li>
    </ol>

    <div id="content">
        <section class="tabcontent">
            <h5 id="inspiration">Let's start fresh!</h5>
            <ul class="plannerlist"></ul>
        </section>
        <section class="tabcontent">
            <h5 id="inspiration">Work hard, You got this!</h5>
            <ul class="plannerlist"></ul>
        </section>
        <section class="tabcontent">
            <h5 id="inspiration">Halfway there..</h5>
            <ul class="plannerlist"></ul>
        </section>
        <section class="tabcontent">
            <h5 id="inspiration">Almost through the week..</h5>
            <ul class="plannerlist"></ul>
        </section>
        <section class="tabcontent">
            <h5 id="inspiration">You made it!</h5>
            <ul class="plannerlist"></ul>
        </section>
        <section class="tabcontent">
            <h5 id="inspiration">Let's do something fun!</h5>
            <ul class="plannerlist"></ul>
        </section>
        <section class="tabcontent">
            <h5 id="inspiration">How about something relaxing?</h5>
            <ul class="plannerlist"></ul>
        </section>
    </div>
    <br>
    <br>
    <div>
    <h3 style="width:20%; margin-left: 60%; color: black; text-align: center;"> How about making a more detailed planner?</h3>
    <a type="Button" href="planneredit" style="width:20%; margin-left: 60%; color: black; text-align: center; background-color:#6dce91; border:0; font-size:2em; padding:20px;"> Do In Detail</a>
    </div>
    <script>
        $(function () {
            function clearDupes() {
                var arr = [];
                $('.plannerlist li').removeClass('hidden');
                $('.tabcontent:visible').each(function () {
                    $(this).find('.plannerlist li').each(function () {
                        var taskText = $(this).text();
                        if (arr.indexOf(taskText) > -1) {
                            $(this).addClass('hidden');
                        } else {
                            arr.push(taskText);
                        }
                    })
                })
            }

            // change form style when nothing is selected
            $('#plannername').prop('disabled', true);
            $('#plannername').attr("placeholder", "Select Day");
            $('#plannersubmit').attr("value", " ");
            $('#plannersubmit').css("background-color", "#9eefbc");

            // define one function, to be used for both select/unselect
            function selectionChange(event, ui) {
                // Get indexes of selected items in an array
                var items = $('.ui-selected', this).map(function () {
                    return $(this).index();
                }).get();
                // Show or hide sections according to the corresponding option's selection
                $("section").each(function () {
                    $(this).toggle(items.indexOf($(this).index()) > -1);
                });

                // reset form style on select
                $('#plannername').prop('disabled', false);
                $('#plannername').attr("placeholder", "Click Here to Enter Task..");
                $('#plannertime').attr("value", "");
                $('#plannersubmit').attr("value", "Add Task");
                $('#plannersubmit').css("background-color", "#6dce91");
                $("#content").fadeIn();

                clearDupes();

                var active = $(".ui-selected").length;
                var width = $(".ui-selected").outerWidth();
                var css = (active * width) / 2;

            }

            $("#selectable").selectable();
            $("#selectable").selectable({
                selected: selectionChange,
                unselected: selectionChange
            });

            // add name to list
            $('#plannerform').submit(function (e) {
                var val = $(this).find('#plannername').val();
                var time = $(this).find('#plannertime').val();
                $('ul.plannerlist:visible').append('<li>' + val + ' ' + time + '</li>');
                e.preventDefault();
                $('#plannername').val('');
                clearDupes();
            });
        });
    </script>
{% endblock %}


