{% extends 'layout.html' %}

{% block body %}

<table class="table table-hover">
  <thead>
  <th align="center">
      ROOM 604
  </th>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">0900-1000</th>
      <td><p>DMID</p></td>
      <td>&nbsp;</td>
      <td><p>CMATHS</p></td>
      <td><p>DMID</p></td>
      <td>LAWETH</td>
    </tr>
    <tr>
      <th scope="row">1010-1100</th>
      <td>PCS</td>
      <td>&nbsp;</td>
      <td>CMATHS</td>
      <td>DMID</td>
      <td>IPTNET</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">1110-1200</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>OOPP</td>
      <td>&nbsp;</td>
      <td>LAWETH</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">1200-1300</th>
      <td>OOPP</td>
      <td>IPTNET</td>
      <td>OOPP</td>
      <td>IPTNET</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
{% endblock %}
