{% extends 'layout.html' %}

{% block body %}
    <h1>View All Bookings</h1>
    <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>

        {% for booking in bookings %}
            <tr>

                <td>{{ booking.get_name() }}</td>

{#            "#}
                <td>{{ booking.get_date() }}</td>
                <td>{{ booking.get_time()}}</td>

            </tr>
        {% endfor %}
        {#        <tr>#}
        {#            <th scope="row">1</th>#}
        {#            <td>Harry Potter and the Deathly Hallows</td>#}
        {#            <td>Book</td>#}
        {#            <td>For Borrowing</td>#}
        {#            <td>Fantasy</td>#}
        {#            <td><a href="#">View</a></td>#}
        {#            <td><a href="/update">Update</a></td>#}
        {#            <td><a href="#">Delete</a></td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="row">2</th>#}
        {#            <td>Harry Potter and the Half-Blood Prince</td>#}
        {#            <td>Book</td>#}
        {#            <td>For Borrowing</td>#}
        {#            <td>Fantasy</td>#}
        {#            <td><a href="#">View</a></td>#}
        {#            <td><a href="/update">Update</a></td>#}
        {#            <td><a href="#">Delete</a></td>#}
        {#        </tr>#}
        </tbody>
    </table>

{% endblock %}