{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <title>Assignments</title>
    <style>
    table, th, td{
        border: 1px solid black;
        margin: auto;
        margin-top: 10px;
    }
    </style>
    <table>
        <thead>
        <tr>
            <th>Course/Module</th>
            <th>Due Dates</th>
            <th>Description</th>
            <th>Marks</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for lists in list2 %}
                <td>{{ lists.get_course() }}</td>
                <td>{{ lists.get_date() }}</td>
                <td>{{ lists.get_des()}}</td>
                <td><form method="POST">
                    {% if lists.get_givenmarks()=='' %}
                    {{ render_field(form.givenmarks, class_="form-control") }}
                                            / {{ lists.get_maxmarks() }} <input type="submit" value="Confirm"> </form></td>

                    {% else %}
                        {{ lists.get_givenmarks() }}
                                            / {{ lists.get_maxmarks() }} </form></td>

                    {% endif %}
                </tr>
            {% endfor %}
        <div>
{#    {% for listz in list %}#}
{#        <div>#}
{#          <h3 >{{ listz.get_course() }} </h3>#}
{#          <form  action="{{url_for('home', assignmentsid=listz.get_id())}}" method="post" >#}
{#        <input type="submit" value="View Here" class="btn btn-info" >#}
{#          </form>#}
{#        </div>#}
{#            {% endfor %}#}
        </div>
        </tbody>

    </table>

{% endblock %}