{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <title>Assignments</title>
        <tbody>
        <div >
    {% for listz in list %}
        <div>
          <h3 >{{ listz.get_course() }} </h3>
          <form  action="{{url_for('individualassignments', assignmentsid=listz.get_id())}}" >
        <input type="submit" value="View Here" class="btn btn-info" >
          </form>
        </div>
        </div>
            {% endfor %}
        </tbody>

{% endblock %}