{% extends 'layout.html' %}

{% block body %}
    <h1>View All Requested booking</h1>
    <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
             <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for booking in bookings %}
            <tr>
             {%  if booking.get_status()=='Pending' %}
                 {% if booking.get_name()==request.cookies.get('admin_no') %}
                <td>{{ booking.get_student_name() }}</td>

                <td>{{ booking.get_date() }}</td>
                <td>{{ booking.get_time()}}</td>
                 <td>{{ booking.get_info() }}</td>
                <td><form action="{{url_for('accept_booking', id=booking.get_pubid())}}" method="post">
                    <input type="submit" value="Accept" class="btn btn-warning" onclick="return confirm('Are you sure you want to accept this booking?');"></form></td>

                <td><form action="{{url_for('reject_booking', id=booking.get_pubid())}}" method="post">
                    <input type="submit" value="Reject" class="btn btn-danger" onclick="return confirm('Are you sure you want to decline this booking?');"></form></td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}