   {% extends 'layout.html' %}
      {% include 'includes/_message.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        {% from "includes/_formhelper.html" import render_field %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
<style>
    #display_table {
    text-align: center;
    }
</style>
<script>
            $('.form-control').change(function () {
                ($(this).children("option:selected").val())
            })
</script>

{% block body %}
    <h1>View Teacher Timetable</h1>
    <form method="post" action="">
    <div>
{{ render_field(form.name,id="mySelect", class_="form-control") }}
</div>
    </form>
    <br>

<link rel='stylesheet' href="{{ url_for('static', filename='css/teacher_timetable.css') }}">
<table class="table table-bordered" border="" id="display_table">
    <thead>
    <tr>
    <th>
  </th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    </tr>
    </thead>

{# ID OF CELL IS FIXED #}
    <tbody>
    {% for row in range(10) %}  {# TO LOOP THROUGH NUMBER OF ROWS #}
        {% if row==0 %}
            <tr>
              <td>0810-0910</td>
               {% for show in list[0:6] %}
                   <td id="{{ show.get_id() }}">
                        {% if  id(form-control)==show.get_username() %}
                            {% if show.get_module_name()=='' and show.get_block()=='' and show.get_room()=='' %}
                                Empty
                                <br>
                            <a href="/create_teacher_timetable/{{ show.get_id() }}" class="btn btn-primary">Change here</a>
                            {% else %}
                             {{ show.get_module_name() }}
                                <br>
                             Block {{ show.get_block() }}
                               <br>
                            Room {{  show.get_room()  }}
                               <br>
                            {{ show.get_school() }}
                              <br>
                             {{ show.get_lesson_type() }}
                                <br>
                               <a href="/create_teacher_timetable/{{ show.get_id() }}" class="btn btn-primary">Change here</a>
                                </td>
                            {% endif %}
                {% else %}
                  Empty

                   {% endif %}
               {% endfor %}
            {% endif %}
    {% endfor %}
            </tr>
    </tbody>
</table>

{% endblock %}