<!-- Page Content -->
{% extends 'layout.html' %}

{% block body %}
<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">View Room timetable</h1>
<input type="submit" value="Booking" class="btn btn-primary" onclick="window.location.href='/Room_Booking'">
  <p>Click on the picture to view the room timetable</p>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Available Rooms</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200"
           onclick="window.location.href='timetable'">

      <h3>Room 601

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 602

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 603

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 604

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 605

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 606

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 607

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 608

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 609

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Room 610

      </h3>
      <p>For project and tutorial use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h3>Room 530

      </h3>
      <p>Computer lab for project and practical use</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h3>Room 531

      </h3>
      <p>Computer lab for project and practical use</p>

        </div>
    </div>
  </div>

</div>
<!-- /.container -->
{% endblock %}